{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'converter/style.css' %}" />
<script type="text/javascript">
    var DICT = {
        {% for k, v in engine.currencies_available.items %}
            "{{k}}": [
                {% for x in v %}
                    "{{x}}" {% if not forloop.last %}, {% endif %}
                {% endfor %}
            ]
            {% if not forloop.last %}, {% endif %}
         {% endfor %}
    };
    
    function pickCurrencies() {
        var lang = document.getElementById("languages").value;
        // rewrite currencies select if languages selected an empty field
        if ( lang == "" ) { 
            document.getElementById("currencies").innerHTML = "<option></option>";
            return;
        }
        //
        var list = DICT[lang]
        var result = "<option value=\"\" ></option>\n";
        var len = list.length;

        for (var i = 0; i < len; i++) {
            result += "<option value=\"" + list[i] + "\" >" + list[i] + "</option>\n"
        };
        document.getElementById("currencies").innerHTML = result;
    }
    function validateInput() {
        var val = $('#converterNumber').val()
        var reg = /^[0-9]+(\.[0-9]{1,2})?$/g;
        var selectedCurrency = $('#currencies').find(':selected').text();

        if ( reg.test(val) && selectedCurrency ) {
            $('#submitConvert').prop('disabled', false);
        } else {
            $('#submitConvert').prop('disabled', true);
        }
    }

    $(document).ready( function () {
        $('#converterNumber').keyup( validateInput );
    });    
</script>

{% if engine.result %}
    <div class="result"> Result is: {{engine.result}} </div>
{% endif %}

<form name="converter" action="{% url 'converter:results' %}" method="post">
    {% csrf_token %}
    <label for="language">language</label>
    <!-- call validateInput() with perpes to desable convert button if languages selected an empty field -->
    <select id="languages" name="language" onchange="pickCurrencies(); validateInput();">
        <option value="" ></option>
        {% for lang in engine.langs_available %}
        <option value="{{lang}}">{{lang}}</option>
        {% endfor %}
    </select><br>
    <label for="currency">currency  </label>
    <select id="currencies" name="currency" onchange="validateInput()" ></select>
    <br>
    <label for="number">{{engine.info}}</label>
    <br>
    <input type="text" id="converterNumber" name="number" 
        {% if engine.number %} value="{{engine.number}}" {% endif %}>
    <br>
    <input type="submit" disabled id="submitConvert" value="Convert">
</form>
