body {
    background: #D0D0D0;
    color: 444444;
}

form[name=converter] {
    margin: 24px;
}

.result {
    padding: 16px;
    margin: 24px;
    border: solid 1px #CDCDCD;
    border-radius: 3px;    
}